.rec{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.rectangulo{
    background-color: rgba(0, 101, 20, 0.945);
    height: 800px;
    width: 2500px;
    align-items: center;
    display: flex;
  
}
.Btn{
    
    margin-left: -50%;
    display: flex;
    justify-content: space-between;
    width: 1000px;
    
}
.Btn-pedir{
    background-color: rgb(38, 255, 0);
    color: white;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
}
.Btn-pedir:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
}
.Btn-plantarse{
    background-color: rgb(185, 1, 1);
    color: white;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
}

.Btn-plantarse:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
}

.Btn-diler{
    background-color: rgb(185, 1, 185);
    color: white;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
}
.Btn-diler:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
}

.Diler{
    position: fixed;
    left: 47%;
    bottom: 50%;
    color: white;
    width: auto;
    height: auto;
    font-family: sans-serif;

}
.Usuario{
    position: fixed;
    left: 46%;
    top: 60%;
    color: white;
    width: auto;
    height: auto;
    font-family: sans-serif;

}
.card-diler{
    margin-left: -65px;
    display: flex;
    width: 70px;
    height: 120px;
}
.card-jugador{
    margin-left: -65px;
    display: flex;
    width: 70px;
    height: 120px;
}
#contador{
    margin-left: 75%;
    color: white;
    margin-top: 20%;
    font-size: 30px;
    
}
.negra{
    filter: brightness(0);
}
